html {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ff0000;
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid cyan;
}

.header {
    width: 100%;
    height: 10em;
    font-size: 24px;
    text-align: center;
}

div.header:hover {
    border-top: 3px solid green;

}

#mydiv {
    width: 100%;
    height: 10rem;
    font-size: 24px;
    margin: 10px 0 10px 0;
    box-shadow: 5px 5px 3px 0px lightgrey;
}

div#mydiv:hover{
    box-shadow: inset 0px 0px 3px 0px lightgrey;
}


.pp {
    color: white;
    text-align: center;
}

a {
    border: 1px solid lightgray;
    border-radius: 50%;
}

a:hover {
    background: greenyellow;
}

li {
    list-style: none;
    margin: 10px 5px;
}